<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Transfergoods</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    <form class="form" action="{% url 'editneeds_handler' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ needs.id }}" name="needsid"/>
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Publish</button>
    </form>
{% else %}
You haven't log in, please login.
{% endif %}
</body>
</html>